<section>
  <div class="user-show">
    <div class="image-show">
      <img src="<%= @user.Photo%>" alt="user picture">
    </div>
    <div class="name-post_counter">
      <h1><%= @user.Name || "anonymous" %></h1>
      <p>Number of posts: <%= @user.PostCounter || 0 %></p>
    </div>
    <div class="bio">
      <h3>Bio:</h3>
      <p><%= @user.Bio || "No biography"%></p>
    </div>
  </div>
</section>
<section class="posts">
    <ul>
      <% @user.recent_posts.each do |post| %>
        <%= link_to user_posts_path(@user) do %>

          <li class="">

            <div>
              <h3><%= post.Title || "no title"%></h3>
              <h4><%= post.Text || "no text"%></h4>
            </div>

            <div>
              <span>Comments: <%= post.CommentsCounter || 0 %></span>
              <span>Likes: <%= post.LikesCounter || 0 %> </span>
            </div>

          </li>

        <% end %>
      <% end %>
    </ul>
    <%= link_to "latest posts", user_posts_path(user_id: @user.id)%>
  </section>
