<main>
  <section>
    <div class="card">
      <div class="user-image border"></div>
      <div class="user-data border">
        <h1><%= @user.Name %></h1>
        <p class="number-posts">Number of posts: <%= @user.PostCounter %></p>
      </div>
    </div>
    <div class="card">
      <div class="column">
        <h3>Bio:</h3>
        <p><%= @user.Bio %></p>
      </div>
    </div>
  </section>
  <section class="center">
    <ul>
      <% @user.recent_posts.each do |post| %>
        <%= link_to user_posts_path(@user) do %>
          <li class="card column hover">
            <h3 class="left"><%= post.Title%></h3>
            <h4 class="left"><%= post.Text%></h4>
            <div class="right">
              <span>Comments: <%= post.CommentsCounter %></span>
              <span class="left">Likes: <%= post.LikesCounter %> </span>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= link_to "See all posts", user_posts_path(user_id: @user.id), class: "btn" %>
  </section> 
</main>
